/**
 * 这里是uni-app内置的常用样式变量
 *
 * uni-app 官方扩展插件及插件市场（https://ext.dcloud.net.cn）上很多三方插件均使用了这些样式变量
 * 如果你是插件开发者，建议你使用scss预处理，并在插件代码中直接使用这些变量（无需 import 这个文件），方便用户通过搭积木的方式开发整体风格一致的App
 *
 */

/**
 * 如果你是App开发者（插件使用者），你可以通过修改这些变量来定制自己的插件主题，实现自定义主题功能
 *
 * 如果你的项目同样使用了scss预处理，你也可以直接在你的 scss 代码中使用如下变量，同时无需 import 这个文件
 */

// @import "./style/common.scss";
/**
 * 主色调颜色
 */
$y-color-primary: #1890ff;
$y-color-primary-dark: #096dd9;
$y-color-primary-disabled: #69c0ff;
$y-color-primary-light: #e6f7ff;

/**
 * 辅助颜色
 */
$y-color-error: #ff4d4f;
$y-color-error-dark: #f5222d;
$y-color-error-disabled: #ff7875;
$y-color-error-light: #fff1f0;

/**
 * 警告色
 */
$y-color-warning:#faad14;
$y-color-warning-dark:#d48806;
$y-color-warning-disabled:#ffd666;
$y-color-warning-light:#fffbe6;

/**
 * 成功色
 */
$y-color-success:#52c41a;
$y-color-success-dark:#389e0d;
$y-color-success-disabled:#95de64;
$y-color-success-light:#f6ffed;

/**
 * 灰度颜色以及字体
 */
$y-gray-1:#fff;
$y-gray-2:#fafafa;
$y-gray-3:#f5f5f5;
$y-gray-4:#f0f0f0;
$y-gray-5:#d9d9d9;
$y-gray-6:#bfbfbf;
$y-gray-7:#8c8c8c;
$y-gray-8:#595959;
$y-gray-9:#434343;
$y-gray-10:#262626;
$y-gray-11:#1f1f1f;
$y-gray-12:#141414;
$y-gray-13:#000000;

/**
 * 定义当前全局的边框圆角的大小
 */
$y-border-radio:8rpx;

/**
 * 定义全局的阴影方向
 */
$y-shadow-1-up: 0 -1rpx 2rpx -2rpx rgba(#000,.16),0 -3rpx 6rpx 0 rgba(#000,.12),0 -5rpx 12rpx 4rpx rgba(#000,.09);
$y-shadow-1-down: 0 1rpx 2rpx -2rpx rgba(#000,.16),0 3rpx 6rpx 0 rgba(#000,.12),0 5rpx 12rpx 4rpx rgba(#000,.09);
$y-shadow-1-left: -1rpx 0 2rpx -2rpx rgba(#000,.16),-3rpx 0 6rpx 0 rgba(#000,.12),-5rpx 0 12rpx 4rpx rgba(#000,.09);
$y-shadow-1-right:  1rpx 0 2rpx -2rpx rgba(#000,.16),3rpx 0 6rpx 0 rgba(#000,.12),5rpx 0 12rpx 4rpx rgba(#000,.09);
@mixin y-shadow-1($color:#000,$dir:Down) {
	@if ($dir == Up) {
		box-shadow: 0 -1rpx 2rpx -2rpx rgba($color,.16),0 -3rpx 6rpx 0 rgba($color,.12),0 -5rpx 12rpx 4rpx rgba($color,.09);
	} @else if($dir == Down){
		box-shadow: 0 1rpx 2rpx -2rpx rgba($color,.16),0 3rpx 6rpx 0 rgba($color,.12),0 5rpx 12rpx 4rpx rgba($color,.09);
	} @else if($dir == Left){
		box-shadow: -1rpx 0 2rpx -2rpx rgba($color,.16),-3rpx 0 6rpx 0 rgba($color,.12),-5rpx 0 12rpx 4rpx rgba($color,.09);
	}@else if($dir == Right){
		box-shadow:  1rpx 0 2rpx -2rpx rgba($color,.16),3rpx 0 6rpx 0 rgba($color,.12),5rpx 0 12rpx 4rpx rgba($color,.09);
	}
}
$y-shadow-2-up: 0 -3rpx 6rpx -4rpx rgba(#000,.12),0 -6rpx 16rpx 0 rgba(#000,.08),0 -9rpx 28rpx 8rpx rgba(#000,.05);
$y-shadow-2-down: 0 3rpx 6rpx -4rpx rgba(#000,.12),0 6rpx 16rpx 0 rgba(#000,.08),0 9rpx 28rpx 8rpx rgba(#000,.05);
$y-shadow-2-left: -3rpx 0 6rpx -4rpx rgba(#000,.12),-6rpx 0 16rpx 0 rgba(#000,.08),-9rpx 0 28rpx 8rpx rgba(#000,.05);
$y-shadow-2-left: 3rpx 0 6rpx -4rpx rgba(#000,.12),6rpx 0 16rpx 0 rgba(#000,.08),9rpx 0 28rpx 8rpx rgba(#000,.05);
@mixin y-shadow-2($color:#000,$dir:Down) {
	@if ($dir == Up) {
		box-shadow: 0 -3rpx 6rpx -4rpx rgba($color,.12),0 -6rpx 16rpx 0 rgba($color,.08),0 -9rpx 28rpx 8rpx rgba($color,.05);
	} @else if($dir == Down){
		box-shadow: 0 3rpx 6rpx -4rpx rgba($color,.12),0 6rpx 16rpx 0 rgba($color,.08),0 9rpx 28rpx 8rpx rgba($color,.05);
	} @else if($dir == Left){
		box-shadow: -3rpx 0 6rpx -4rpx rgba($color,.12),-6rpx 0 16rpx 0 rgba($color,.08),-9rpx 0 28rpx 8rpx rgba($color,.05);
	}@else if($dir == Right){
		box-shadow:  3rpx 0 6rpx -4rpx rgba($color,.12),6rpx 0 16rpx 0 rgba($color,.08),9rpx 0 28rpx 8rpx rgba($color,.05);
	}
}

$y-shadow-3-up: 0 -6rpx 16rpx -8rpx rgba(#000,.08),0 -9rpx 28rpx 0 rgba(#000,.05),0 -12rpx 48rpx 16rpx rgba(#000,.03);
$y-shadow-3-down: 0 6rpx 16rpx -8rpx rgba(#000,.08),0 9rpx 28rpx 0 rgba(#000,.05),0 12rpx 48rpx 16rpx rgba(#000,.03);
$y-shadow-3-left: -6rpx 0 16rpx -8rpx rgba(#000,.08),-9rpx 0 28rpx 0 rgba(#000,.05),-12rpx 0 48rpx 16rpx rgba(#000,.03);
$y-shadow-3-right: 6rpx 0 16rpx -8rpx rgba(#000,.08),9rpx 0 28rpx 0 rgba(#000,.05),12rpx 0 48rpx 16rpx rgba(#000,.03);

@mixin y-shadow-3($color:#000,$dir:Down) {
	@if ($dir == Up) {
		box-shadow: 0 -6rpx 16rpx -8rpx rgba($color,.08),0 -9rpx 28rpx 0 rgba($color,.05),0 -12rpx 48rpx 16rpx rgba($color,.03);
	} @else if($dir == Down){
		box-shadow:0 6rpx 16rpx -8rpx rgba($color,.08),0 9rpx 28rpx 0 rgba($color,.05),0 12rpx 48rpx 16rpx rgba($color,.03);
	} @else if($dir == Left){
		box-shadow: -6rpx 0 16rpx -8rpx rgba($color,.08),-9rpx 0 28rpx 0 rgba($color,.05),-12rpx 0 48rpx 16rpx rgba($color,.03);
	}@else if($dir == Right){
		box-shadow: 6rpx 0 16rpx -8rpx rgba($color,.08),9rpx 0 28rpx 0 rgba($color,.05),12rpx 0 48rpx 16rpx rgba($color,.03);
	}
}

/**
 * 常用颜色以及行高处理
 */
$y-font-size-1:12rpx;
$y-font-size-2:14rpx;
$y-font-size-3:16rpx;
$y-font-size-4:20rpx;
$y-font-size-5:24rpx;
$y-font-size-6:30rpx;
$y-font-size-7:38rpx;
$y-font-size-8:46rpx;
$y-font-size-9:56rpx;
$y-font-size-10:68rpx;
$y-line-height-1:20rpx;
$y-line-height-2:22rpx;
$y-line-height-3:24rpx;
$y-line-height-4:28rpx;
$y-line-height-5:32rpx;
$y-line-height-6:38rpx;
$y-line-height-7:46rpx;
$y-line-height-8:54rpx;
$y-line-height-9:64rpx;
$y-line-height-10:76rpx;

/**
 * 横向布局
 */
@mixin y-flex($align:center,$justify:center,$direction:row) {
	display: flex;
	align-items: $align;
	justify-content: $justify;
	flex-direction: $direction;
}

/**
 * 纵向布局
 */
@mixin y-flex-column($align:center,$justify:center,$direction:row) {
	@include y-flex($align,$justify,column);
}

/**
 * 生成外间距
 */
@for $i from 0 to 10 {
	@if $i==0 {
		.y-m{margin: 5rpx;}
		.y-ml{margin-left: 5rpx;}
		.y-mr{margin-right: 5rpx;}
		.y-mt{margin-top: 5rpx;}
		.y-mb{margin-bottom: 5rpx;}
	} @else {
		.y-m-#{$i}{margin: 10rpx*$i;}
		.y-ml-#{$i}{margin-left: 10rpx*$i;}
		.y-mr-#{$i}{margin-right: 10rpx*$i;}
		.y-mt-#{$i}{margin-top: 10rpx*$i;}
		.y-mb-#{$i}{margin-bottom: 10rpx*$i;}
	}
}

/**
 * 生成内间距
 */
@for $i from 0 to 10 {
	@if $i==0 {
		.y-p{padding: 5rpx;}
		.y-pl{padding-left: 5rpx;}
		.y-pr{padding-right: 5rpx;}
		.y-pt{padding-top: 5rpx;}
		.y-pb{padding-bottom: 5rpx;}
	} @else {
		.y-p-#{$i}{padding: 10rpx*$i;}
		.y-pl-#{$i}{padding-left: 10rpx*$i;}
		.y-pr-#{$i}{padding-right: 10rpx*$i;}
		.y-pt-#{$i}{padding-top: 10rpx*$i;}
		.y-pb-#{$i}{padding-bottom: 10rpx*$i;}
	}
}


/* 颜色变量 */

// $y-color-primary: #2979ff;

/* 行为相关颜色 */
$uni-color-primary: #007aff;
$uni-color-success: #4cd964;
$uni-color-warning: #f0ad4e;
$uni-color-error: #dd524d;

/* 文字基本颜色 */
$uni-text-color:#333;//基本色
$uni-text-color-inverse:#fff;//反色
$uni-text-color-grey:#999;//辅助灰色，如加载更多的提示信息
$uni-text-color-placeholder: #808080;
$uni-text-color-disable:#c0c0c0;

/* 背景颜色 */
$uni-bg-color:#ffffff;
$uni-bg-color-grey:#f8f8f8;
$uni-bg-color-hover:#f1f1f1;//点击状态颜色
$uni-bg-color-mask:rgba(0, 0, 0, 0.4);//遮罩颜色

/* 边框颜色 */
$uni-border-color:#c8c7cc;

/* 尺寸变量 */

/* 文字尺寸 */
$uni-font-size-sm:12px;
$uni-font-size-base:14px;
$uni-font-size-lg:16;

/* 图片尺寸 */
$uni-img-size-sm:20px;
$uni-img-size-base:26px;
$uni-img-size-lg:40px;

/* Border Radius */
$uni-border-radius-sm: 2px;
$uni-border-radius-base: 3px;
$uni-border-radius-lg: 6px;
$uni-border-radius-circle: 50%;

/* 水平间距 */
$uni-spacing-row-sm: 5px;
$uni-spacing-row-base: 10px;
$uni-spacing-row-lg: 15px;

/* 垂直间距 */
$uni-spacing-col-sm: 4px;
$uni-spacing-col-base: 8px;
$uni-spacing-col-lg: 12px;

/* 透明度 */
$uni-opacity-disabled: 0.3; // 组件禁用态的透明度

/* 文章场景相关 */
$uni-color-title: #2C405A; // 文章标题颜色
$uni-font-size-title:20px;
$uni-color-subtitle: #555555; // 二级标题颜色
$uni-font-size-subtitle:26px;
$uni-color-paragraph: #3F536E; // 文章段落颜色
$uni-font-size-paragraph:15px;
